# DSP1: Midterm

### Date: January 19

### Time: 18:10 - 19:40


**Instructions:** 
* All answers should be filled in the notebook and then submitted to Moodle;
* For theoretical question you can use markdown and LaTeX;
* Save number of cells used for compilation;
* In order to get max scores, please write explanations and comments for each step. In addition, try to comment you code pieces. Use your knowledge of visualising from previous course.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy.stats import t
from scipy import stats
import statistics as st
import math
%matplotlib inline

## Problem 1 (20%)
Imagine you are studying salaries of Data Scientists in Kazakhstan. It is known that the salaries are Normally distributed with a mean of 550k tenge and standard deviation of 65k tenge. Based on that information, answer the following questions: 

1. Find the most frequently paid salary level. Justify your answer.
2. Find the minimum salary level that corresponds among Top 10% salaries of Data Scientists.
3. For a randomly selected data scientist, find the probability of his salary being between 500k and 600k tenge?
4. If we have a sample of 200 data scientiest, how many of them should have salary above 625 tenge? Round your answer to the closest integer.

##### 1
## mode = mean = mediana
## so it will be 550

In [21]:
#2
ci_90 = norm.interval(alpha = 0.90,loc = mu,scale = sigma)
print(f'Min:{ci_90[1]}')

NameError: name 'mu' is not defined

In [6]:
#3
task3 = norm(550,65).cdf(600) - norm(550,65).cdf(500)
print(round(task3,4))

0.5582

In [20]:
#4
n = 200
x = 625
mean = 550
std = 65

stdev = 65/math.sqrt(200)
stats.norm(loc = 500,scale=stdev).sf(625)

3.580540643023629e-163

## Problem 2 (20%)
Imagine you are studying student average daily spending. You have sample for that data (sample_2 below).
Tasks to do:
1. Based on this sample countruct 95% confidence interval for population mean of student daily spending. Describe steps that you do and provide assumptions if you made any. 
2. Is there an evidence that average daily spending of students is lower than 40 USD per day?

In [9]:
# Note that data is provided in USD. 
sample_2 = [45, 25, 30, 35, 28, 41, 56, 38, 42, 25, 37, 23, 42, 50, 28, 34, 43, 30, 26, 22, 29, 32, 30, 44, 49]

In [15]:
# Please, write your code here
x_bar = st.mean(sample_2)
size = len(sample_2)
sigma = st.stdev(sample_2)

error = sigma/st.sqrt(size)

ci_95 = norm.interval(alpha = 0.95, loc = x_bar, scale = error)

print('Lower:', round(ci_95[0],3))
print('Upper:', round(ci_95[1],3))
print('------------------')
print('Mean:', x_bar)

Lower: 31.725
Upper: 38.995
------------------
Mean: 35.36

## Problem 3 (30%)
Imagine you are studying GPA of students at AITU. You get a sample of 40 students, and obtained sample mean of 3.3 and sample standard deviation 0.35. 
1. Construct 95% and 99% confidence intervals for mean GPA. 
2. Show the width of each interval. Explain how different factors affect to the width of the interval.
2. For 99% confidence interval, how many more observations should be added to the sample, so that confidence interval for Î¼ was within 0.1 unit?

In [22]:
# Please, write your code here
#1
mean = 3.3
sigma = 0.35
size = 40

z_val_95 = stats.norm.ppf(0.975)
z_val_99 = stats.norm.ppf(0.995)

lower_bound_95 = mean - z_val_95 * sigma/np.sqrt(size)
upper_bound_95 = mean + z_val_95 * sigma/np.sqrt(size)

lower_bound_99 = mean - z_val_99 * sigma/np.sqrt(size)
upper_bound_99 = mean + z_val_99 * sigma/np.sqrt(size)

print('Lower bound for 95% confidence:', round(lower_bound_95, 3))
print('Upper bound for 99% confidence:', round(upper_bound_95, 3))
print()
print('Lower bound for 95% confidence:', round(lower_bound_99, 3))
print('Upper bound for 99% confidence:', round(upper_bound_99, 3))

Lower bound for 95% confidence: 3.192
Upper bound for 99% confidence: 3.408

Lower bound for 95% confidence: 3.157
Upper bound for 99% confidence: 3.443

In [27]:
#2
w_ci_95 = upper_bound_95 - lower_bound_95
w_ci_99 = upper_bound_99 - lower_bound_99

print('Width 95:',(np.round(w_ci_95,3)))
print('Width 99:',(np.round(w_ci_99,3)))

Width 95: 0.217
Width 99: 0.285

In [ ]:
#3

## Problem 4 (30%)
Imagine you are studying performance of school graduates at ENT and you have data for two different schools (KTL and NIS). Data provided below. Tasks to do:
1. Test the hypothesis that the average ENT score is more than 100 for KTL. Use both critical region approach and P-value approach.
2. Test the hypothesis that two schools had similar performance on ENT. Use only one of the two approaches.

State the hypothesis, and then perform the test. Choose correct procedure of choosing significance levels. Derive proper conclusion in the context of the problem.

In [28]:
data_ktl = [88, 91, 86, 92, 90, 93, 95, 78, 87, 98, 82,  117, 138, 97,
            120, 119, 108, 103, 121, 139, 88, 95, 106, 110, 123, 90,
           129, 102, 136, 119, 121, 114, 122, 103, 81, 75,  133, 119,
           105, 125, 103, 97, 126, 118, 104, 112, 100, 92, 121]

In [29]:
data_nis = [72, 93, 95, 117, 94, 97, 103, 97, 80, 103, 84, 88, 
            120, 119, 108,  92, 82, 88, 95, 106, 110, 99, 90, 
            77, 102, 78, 87, 98, 82, 119, 72, 84, 103, 81, 75,   
            105, 78,  104, 100, 92, 99, 91, 86, 100]

In [30]:
# Please, write your code here

---

### Evaluation (Keep it!)

| Question | Mark     | Comment   
|:-------:|:--------:|:----------------------
| 1       |   20/20    |     
| 2       |   20/20 | 
| 3       |   30/30    |     
| 4       |   30/30 | 
|**Total**|**100/100**  |